<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="localDateTime" class="java.time.LocalDateTime" factory-method="now"/>
    <bean id="localTime" factory-bean="localDateTime" factory-method="toLocalTime"/>
    <bean id="localDate" factory-bean="localDateTime" factory-method="toLocalDate"/>

    <bean id="date" class="java.util.Date"/>

    <bean id="hello" class="cn.argento.askia.Hello"/>
</beans>